<!--
Avaya Inc. Proprietary (Restricted)
Solely for authorized persons having a need to know
pursuant to company instructions.
Copyright 2016 Avaya Inc. All Rights Reserved.
THIS IS UNPUBLISHED PROPRIETARY SOURCE CODE OF Avaya Inc.
The copyright notice above does not evidence any actual or
intended publication of such source code.
-->
<div class="settings-container">
  <div class="settings-title">{{'SETTINGS.TITLE' | translate}}</div>

  <div class="mobile-accordeon settings">
    <div class="settings-wrapper">
      <div class="settings-tabs">
        <div class="tab client-settings-mobile settings-navigation-item {{currentTab === TAB.CLIENT ? 'current' : ''}}"
             (click)="setCurrentTab(TAB.CLIENT)">{{'SETTINGS.CLIENT' | translate}}
        </div>

        <div class="tab preferences-settings-mobile settings-navigation-item {{currentTab === TAB.PREFERENCES ? 'current' : ''}}"
             (click)="setCurrentTab(TAB.PREFERENCES)">{{'SETTINGS.PREFERENCES' | translate}}
        </div>

        <div class="tab support-settings-mobile settings-navigation-item {{currentTab === TAB.SUPPORT ? 'current' : ''}}"
             (click)="setCurrentTab(TAB.SUPPORT)">{{'SETTINGS.SUPPORT' | translate}}
        </div>
      </div>

      <div class="settings-main-container">
        <div class="tab-content client-settings-mobile {{currentTab === TAB.CLIENT ? '' : 'hidden'}}">
          <div *ngIf="!ACData.isInstalled" class="no-client-info">
            <span>{{'SETTINGS.CLIENT_TAB.NO_CLIENT' | translate}}</span>
          </div>

          <div *ngIf="ACData.isInstalled" class="client-title">{{'SETTINGS.CLIENT_TAB.CLIENT_INFO' | translate:ACData}}</div>

          <div *ngIf="ACData.isInstalled" class="remove-client-info" (click)="removeClientInfo()">
            {{'SETTINGS.CLIENT_TAB.REMOTE_INFO' | translate}}
          </div>

          <div class="default-button client-download-button"
               *ngIf="(!ACData.isInstalled || needOptionalUpgrade()) && acClientService.isThereClientToDownload()"
               (click)="downloadAC()"
          >
            <span>{{'SETTINGS.CLIENT_TAB.DOWNLOAD_AC' | translate:ACData.latestVersion}}</span>
          </div>

          <div *ngIf="!acClientService.isThereClientToDownload()" class="client-title">{{'GENERAL.DOWNLOAD.NO_CLIENT' | translate}}</div>

          <div *ngIf="isChrome && showSharingPlaginLink"
               class="download-plugin"
               (click)="downloadChromePlugin()">{{'SETTINGS.CLIENT_TAB.DOWNLOAD_CHROME_PLUGIN' | translate}}
          </div>

        </div>
<!---->
        <div class="tab-content {{currentTab === TAB.PREFERENCES ? '' : 'hidden'}}">

            <label class="default-checkbox use-browser-audio-video browser-checkbox preferences">
              <input type="checkbox"
                     [ngModel]="videoCalling"
                     (change)="changePreferences()">
              <span>{{'SETTINGS.PREFERENCES_TAB.VIDEO_CALLING' | translate}}</span>
            </label>
            <span class="explanation preferences">{{'SETTINGS.PREFERENCES_TAB.VIDEO_CALLING_EXPLANATION' | translate}}</span>


            <div class="separator"></div>


            <label class="default-checkbox use-browser-audio-video browser-checkbox preferences">
              <input type="checkbox"
                     [ngModel]="useDefaultTimeFormat"
                     (change)="changeTimeFormat()">
              <span>{{'SETTINGS.PREFERENCES_TAB.DEFAULT_FORMAT' | translate}}</span>
            </label>
            <div class="advanced-settings" *ngIf="!useDefaultTimeFormat">
              <div class="settings-item upc-date-time-format">
                <span>{{'SETTINGS.PREFERENCES_TAB.DATE_FORMAT_TITLE' | translate}}</span>
                <app-custom-select (ngModelChange)="setDateFormat($event)" [model]="dateFormatSettings.selected" [options]="dateFormatSettings.options" key="format" value="format"></app-custom-select>
              </div>
              <label class="default-checkbox use-browser-audio-video browser-checkbox preferences upc-date-time-format">
                <input type="checkbox"
                       [ngModel]="use24HourFormat"
                       (change)="changeHourFormat()">
                <span>{{'SETTINGS.PREFERENCES_TAB.TIME_FORMAT' | translate}}</span>
              </label>
            </div>
        </div>
<!---->
        <div class="tab-content {{currentTab === TAB.SUPPORT ? '' : 'hidden'}}">
          <label class="default-checkbox use-browser-audio-video browser-checkbox preferences" (click)="changeSaveLogs()">
            <input type="checkbox"
                   [ngModel]="saveLogsCheckbox"
                   [disabled]="saveLogsCheckbox"
                   [class.reset-disable]="saveLogsCheckbox"
            >
            <span>{{'SETTINGS.PREFERENCES_TAB.ENABLE_LOGGING' | translate}}</span>
          </label>

          <div class="advanced-settings advanced-settings-logs" *ngIf="saveLogsCheckbox">
            <div class="send-logs"
                 (click)="sendLogsEml()"
                 *ngIf="supportEmail">
              {{'SETTINGS.PREFERENCES_TAB.REPORT_A_PROBLEM_EML' | translate}}

            </div>
            <div class="save-logs"
                 (click)="sendLogsEmail()"
                 *ngIf="supportEmail">
              {{'SETTINGS.PREFERENCES_TAB.REPORT_A_PROBLEM_EMAIL' | translate}}
            </div>
            <div class="save-logs"
                 (click)="downloadLogs()"
            >
              {{'SETTINGS.PREFERENCES_TAB.DOWNLOAD_LOGS' | translate}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="accordeon-name settings">{{'SETTINGS.SETTINGS' | translate}}</div>
  </div>

  <div class="settings-buttons {{currentTab ? '' : 'active'}}">
    <button type="button"
            class="white-button"
            (click)="saveSettingsAndClose()">{{'SETTINGS.OK' | translate}}</button>

    <button type="button"
            class="white-button"
            (click)="cancelSettings()">{{'SETTINGS.CANCEL' | translate}}</button>

    <button type="button"
            class="white-button"
            (click)="applySettings()"
            [disabled]="!isApplyDisabled()"> {{'SETTINGS.APPLY' | translate}}</button>
  </div>
</div>


<!--In case if in future settings will available for mobile devices-->

<!--<div ng-if="!isDesktop">-->
<!--    <div class="settings-title" translate-once="SETTINGS.TITLE"></div>-->

<!--    <div class="mobile-accordeon settings">-->
<!--        &lt;!&ndash; Client tab &ndash;&gt;-->
<!--        <div class="tab client-settings-mobile settings-navigation-item {{currentTab === TAB.CLIENT ? 'current' : ''}}"-->
<!--             ng-click="setCurrentTab(TAB.CLIENT)"-->
<!--             translate-once="SETTINGS.CLIENT"-->
<!--        >-->
<!--        </div>-->
<!--        <div class="tab-content client-settings-mobile {{currentTab === TAB.CLIENT ? '' : 'hidden'}}"-->
<!--             ng-include=":: 'app/components/settings/templates/SettingsClient.html'"-->
<!--        >-->
<!--        </div>-->

<!--        &lt;!&ndash; User Preferences tab &ndash;&gt;-->
<!--        <div class="tab preferences-settings-mobile settings-navigation-item {{currentTab === TAB.PREFERENCES ? 'current' : ''}}"-->
<!--             ng-click="setCurrentTab(TAB.PREFERENCES)"-->
<!--             translate-once="SETTINGS.PREFERENCES"-->
<!--        >-->
<!--        </div>-->
<!--        <div class="tab-content {{currentTab === TAB.PREFERENCES ? '' : 'hidden'}}"-->
<!--             ng-include=":: 'app/components/settings/templates/SettingsPreferences.html'"-->
<!--        >-->
<!--        </div>-->

<!--        &lt;!&ndash; Support tab &ndash;&gt;-->
<!--        <div class="tab support-settings-mobile settings-navigation-item {{currentTab === TAB.SUPPORT ? 'current' : ''}}"-->
<!--             ng-click="setCurrentTab(TAB.SUPPORT)"-->
<!--             translate-once="SETTINGS.SUPPORT"-->
<!--        >-->
<!--        </div>-->
<!--        <div class="tab-content {{currentTab === TAB.SUPPORT ? '' : 'hidden'}}"-->
<!--             ng-include=":: 'app/components/settings/templates/SettingsSupport.html'">-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="settings-buttons {{currentTab ? '' : 'active'}}">-->
<!--        <button type="button"-->
<!--                class="white-button"-->
<!--                ng-click="saveSettingsAndClose()"-->
<!--                translate-once="SETTINGS.OK"-->
<!--        >-->
<!--        </button>-->

<!--        <button type="button"-->
<!--                class="white-button"-->
<!--                ng-click="cancelSettings()"-->
<!--                translate-once="SETTINGS.CANCEL"-->
<!--        >-->
<!--        </button>-->

<!--        <button type="button"-->
<!--                class="white-button"-->
<!--                ng-click="applySettings()"-->
<!--                ng-disabled="!isApplyDisabled()"-->
<!--                translate-once="SETTINGS.APPLY"-->
<!--        >-->
<!--        </button>-->
<!--    </div>-->
<!--</div>-->
