<!--
Avaya Inc. Proprietary (Restricted)
Solely for authorized persons having a need to know
pursuant to company instructions.
Copyright 2016 Avaya Inc. All Rights Reserved.
THIS IS UNPUBLISHED PROPRIETARY SOURCE CODE OF Avaya Inc.
The copyright notice above does not evidence any actual or
intended publication of such source code.
-->
<div *ngIf="!isMobileView" class="settings-container">
  <div class="settings-title">{{'SETTINGS.TITLE' | translate}}</div>

  <div class="mobile-accordeon settings">
    <div class="settings-wrapper">
      <div class="settings-tabs">
        <div class="tab user-settings-mobile settings-navigation-item {{currentTab === TAB.USER ? 'current' : ''}}"
             (click)="setCurrentTab(TAB.USER)">
          {{'SETTINGS.USER' | translate}}
        </div>

        <div class="{{!areAllPinsCorrect() ? 'incorrect-pin' : ''}} tab virtual-room-settings-mobile settings-navigation-item {{currentTab === TAB.ROOM ? 'current' : ''}} {{userSettings.conferencing.virtualRoomSettings.length ? '' : 'hidden'}}"
             (click)="setCurrentTab(TAB.ROOM)">
          {{'SETTINGS.ROOM' | translate}}
        </div>

        <div class="tab general-settings-mobile settings-navigation-item {{currentTab === TAB.GENERAL ? 'current' : ''}}"
             (click)="setCurrentTab(TAB.GENERAL)">{{'SETTINGS.GENERAL' | translate}}
        </div>

        <div class="tab preferences-settings-mobile settings-navigation-item {{currentTab === TAB.PREFERENCES ? 'current' : ''}} {{isShowClientTab() ? '' : 'hidden'}}"
             (click)="setCurrentTab(TAB.PREFERENCES)">{{'SETTINGS.PREFERENCES' | translate}}
        </div>

        <div class="tab client-settings-mobile settings-navigation-item {{currentTab === TAB.CLIENT ? 'current' : ''}} {{isShowClientTab() ? '' : 'hidden'}}"
             (click)="setCurrentTab(TAB.CLIENT)">{{'SETTINGS.CLIENT' | translate}}
        </div>

        <div class="tab support-settings-mobile settings-navigation-item {{currentTab === TAB.SUPPORT ? 'current' : ''}} {{isShowClientTab() ? '' : 'hidden'}}"
             (click)="setCurrentTab(TAB.SUPPORT)"
             *ngIf="indexedDbIsCompatibility">{{'SETTINGS.SUPPORT' | translate}}
        </div>

        <div class="tab password-settings-mobile settings-navigation-item {{currentTab === TAB.PASSWORD ? 'current' : ''}} {{userSettings.conferencing.localUser && !isOAuthUser ? '' : 'hidden'}}"
             (click)="setCurrentTab(TAB.PASSWORD)">{{'SETTINGS.PASSWORD' | translate}}
        </div>

      </div>

      <div class="settings-main-container">
        <div class="tab-content {{currentTab === TAB.USER ? '' : 'hidden'}}" *ngIf="currentTab === TAB.USER">
<!--          -->
          <div class="settings-item upc-location">
            <span>{{'SETTINGS.USER_TAB.LOCATION' | translate}}</span>
            <app-custom-select (ngModelChange)="locationsSelected($event)" [options]="locations.options" [model]="locations.selected" key="locationId" value="name"></app-custom-select>
          </div>

          <div class="settings-item upc-default-vr" *ngIf="defaultVirtualRoom.options.length">
            <span>{{'SETTINGS.USER_TAB.DEFAULT_ROOM' | translate}}</span>
            <app-custom-select (ngModelChange)="defaultRoomWasChanged($event)" [options]="defaultVirtualRoom.options" [model]="defaultVirtualRoom.selected" key="virtualRoomId" value="name"></app-custom-select>
          </div>

          <div class="settings-item upc-audio-prompt-language">
            <span>{{'SETTINGS.USER_TAB.AUDIO_PROMPTS_LANGUAGE' | translate}}</span>
            <app-custom-select (ngModelChange)="voicePromptLanguageChanged($event)" [options]="voicePromptLanguage.options" [model]="voicePromptLanguage.selected" key="id" value="localizedDisplayName" [disabled]="!userSettingsService.portalResources.ottMode"></app-custom-select>
          </div>

          <div class="settings-item participant-id" *ngIf="true">
            <span>{{'SETTINGS.USER_TAB.PARTICIPANT_ID' | translate}}</span>
            <div class="password-input">
              <input #participantId class="participant-id-field default-input"
                     name="participantId"
                     [(ngModel)]="userSettings.conferencing.participantId"
                     type="password"
                     autocomplete="off"
                     disabled="disabled"
                     [readOnly]="true">
              <app-show-password [inputElem]="participantId" [inputValue]="userSettings.conferencing.participantId"></app-show-password>
            </div>
          </div>

          <div class="refresh" (click)="refreshParticipantId()" *ngIf="!isMultiTenant">{{'SETTINGS.USER_TAB.REFRESH' | translate}}</div>

          <div class="separator"></div>

          <div *ngIf="userSettings.conferencing.virtualRoomSettings.length !== 0">
            <div class="delegated-title">
              <span>{{'SETTINGS.USER_TAB.DELEGATED_TITLE' | translate}}</span>
            </div>

            <tag-selector
              placeholder="'SETTINGS.USER_TAB.SEARCH_USER'"
              primary="lastName"
              secondary="firstName"
              tertiary="emailAddress"
              callback="toInputChanged"
              options="filteredContacts"
              unique-property="userId"
              is-for-participant="false"
              selected="delegatedUsers"
              is-for-user-search="true"
              class="user-search"></tag-selector>

            <app-tag-selector
              placeholder="SETTINGS.USER_TAB.SEARCH_USER"
              primary="lastName"
              secondary="firstName"
              tertiary="emailAddress"
              [callback]="toInputChanged.bind(this)"
              [options]="filteredContacts"
              uniqueProperty="userId"
              [isForParticipant]="false"
              [selected]="delegatedUsers"
              [isForUserSearch]="true"
              (selectedChanged)="selectedChanged($event)"
              class="user-search"></app-tag-selector>

            <div class="user-delegated endpoints-wrapper">
              <div class="user" *ngFor="let user of delegatedUsers">
                <span class="user-info">{{user.lastName}}, {{user.firstName}}</span>
                <span (click)="removeUser(user.userId)" class="remove-item">{{'SETTINGS.USER_TAB.REMOVE_USER' | translate}}</span>
              </div>
            </div>
          </div>

<!--          -->
        </div>
<!---->
        <div class="tab-content {{currentTab === TAB.ROOM ? '' : 'hidden'}} " *ngIf="currentTab === TAB.ROOM"
             ng-include=":: 'app/components/settings/templates/SettingsRoom.html'">
          <form class="room-settings" [formGroup]="virtualRoomReactiveForm">
            <!-- Virtual room number -->
            <div class="settings-item  upc-room-number">
              <span>{{'SETTINGS.ROOM_TAB.ROOM_NUMBER' | translate}}</span>
              <app-custom-select (ngModelChange)="virtualRoomNumberSelected($event)" [options]="virtualRoomNumber.options" [model]="virtualRoomNumber.selected" key="virtualRoomId" value="number"></app-custom-select>
            </div>

            <!-- Virtual room name -->
            <div class="settings-item upc-room-name">
              <span>{{'SETTINGS.ROOM_TAB.ROOM_NAME' | translate}}</span>
<!--              <input class="default-input {{(roomForm.roomName.$error.pattern || roomForm.roomName.$error.required) ? 'error-input' : ''}}"-->
<!--                     name="roomName"-->
<!--                     [(ngModel)]="currentRoom.name"-->
<!--                     [attr.title]="currentRoom.name"-->
<!--                     type="text"-->
<!--                     maxlength="80"-->
<!--                     required-->
<!--                     autocomplete="off"-->
<!--                     [pattern]="roomNamePattern"-->
<!--              >-->
              <input class="default-input"
                     name="roomName"
                     [(ngModel)]="currentRoom.name"
                     [attr.title]="currentRoom.name"
                     type="text"
                     maxlength="80"
                     required
                     autocomplete="off"
                     [pattern]="roomNamePattern"
              >
<!--              <div class="default-error" *ngIf="roomForm.roomName.$error.pattern"-->
<!--                   translate-once="SETTINGS.ERROR.VR_NAME_NOT_ALLOWED_CHARACTERS"></div>-->
<!--              <div class="default-error" ng-if="roomForm.roomName.$error.required" translate-once="SETTINGS.ERROR.REQUIRED"></div>-->
            </div>

            <!-- Description -->
            <div class="settings-item  upc-room-description">
              <span>{{'SETTINGS.ROOM_TAB.ROOM_DESCRIPTION' | translate}}</span>
              <input class="default-input"
                     [(ngModel)]="currentRoom.description"
                     [attr.title]="currentRoom.description"
                     type="text"
                     name="description"
                     maxlength="200"
              >
            </div>

            <!-- Meeting Type -->
            <div class="settings-item  upc-room-meeting-type">
              <span>{{'SETTINGS.ROOM_TAB.MEETING_TYPE' | translate}}</span>
              <app-custom-select class="test" (ngModelChange)="meetingTypeSelected($event)" [disabled]="canChangeMeetingType()" [options]="meetingType.options" [model]="meetingType.selected" key="serviceId" value="prefixAndName"></app-custom-select>
            </div>

            <!-- Audio Prompt language -->
            <div class="settings-item  upc-room-audio-prompt-language">
              <span>{{'SETTINGS.ROOM_TAB.AUDIO_PROMPTS_LANGUAGE' | translate}}</span>
              <app-custom-select (ngModelChange)="virtualRoomVoicePromptLanguageSelected($event)" [options]="virtualRoomVoicePromptLanguage.options" [model]="virtualRoomVoicePromptLanguage.selected" key="id" value="localizedDisplayName" [disabled]="!userSettingsService.portalResources.ottMode"></app-custom-select>
            </div>

            <!-- Invitation Language -->
            <div class="settings-item  upc-room-invitation-language">
              <span>{{'SETTINGS.ROOM_TAB.INVITATION_LANGUAGE' | translate}}</span>
              <app-custom-select (ngModelChange)="virtualRoomInvitationLanguagesSelected($event)" class="invitation-language" [options]="virtualRoomInvitationLanguages.options" [model]="virtualRoomInvitationLanguages.selected" key="id" value="localizedDisplayName" [disabled]="!userSettingsService.portalResources.ottMode"></app-custom-select>
            </div>

            <!-- Entry Announcement -->
            <div class="settings-item upc-room-entry-announcement">
              <span>{{'SETTINGS.ROOM_TAB.ENTRY_ANNOUNCEMENT' | translate}}</span>
              <app-custom-select (ngModelChange)="entryAnnouncementSelected($event)" name="entryAnnouncement" [options]="entryAnnouncement.options" [model]="entryAnnouncement.selected" key="id" value="name" ng-required="!entryAnnouncement.selected"></app-custom-select>
              <!--              <div class="default-error" *ngIf="roomForm.entryAnnouncement.$error.required" translate-once="SETTINGS.ERROR.REQUIRED"></div>-->
            </div>

            <!-- Exit Announcement -->
            <div class="settings-item upc-room-exit-announcement">
              <span>{{'SETTINGS.ROOM_TAB.EXIT_ANNOUNCEMENT' | translate}}</span>
              <custom-select name="exitAnnouncement" options="exitAnnouncement.options" ng-model="exitAnnouncement.selected" key="id" value="name" ng-required="!exitAnnouncement.selected"></custom-select>
              <app-custom-select (ngModelChange)="exitAnnouncementSelected($event)" name="exitAnnouncement" [options]="exitAnnouncement.options" [model]="exitAnnouncement.selected" key="id" value="name" ng-required="!exitAnnouncement.selected"></app-custom-select>
              <!--              <div class="default-error" ng-if="roomForm.exitAnnouncement.$error.required">{{'SETTINGS.ERROR.REQUIRED' | translate}}</div>-->
            </div>

            <!-- Max Participants to play the entry/exit tone -->
            <div class="settings-item upc-room-max-participants-play-tone">
              <span>{{'SETTINGS.ROOM_TAB.MAX_PARTICIPANTS_TO_PLAY_THE_ENTRY_EXIT_TONE' | translate}}</span>
              <input class="default-input"
                     name="maxPlayToneNumber"
                     [(ngModel)]="currentRoom.maxPlayToneNumber"
                     type="text"
                     maxlength="3"
                     autocomplete="off"
                     [required]="currentRoom.maxPlayToneNumber !== ''"
                     only-numbers>
<!--              <div class="default-error" ng-if="errorMaxPlayToneNumber">{{'SETTINGS.ERROR.MAX_PLAY_NUMBER_MORE_THAN' | translate}}</div>-->
<!--              <div class="default-error" ng-if="roomForm.maxPlayToneNumber.$error.required && !errorMaxPlayToneNumber">{{'SETTINGS.ERROR.REQUIRED' | translate}}</div>-->
            </div>

            <!-- Max Participants to play the entry/exit name announcement -->
            <div class="settings-item upc-room-max-participants-play-announcement">
              <span>{{'SETTINGS.ROOM_TAB.MAX_PARTICIPANTS_TO_PLAY_THE_ENTRY_EXIT_NAME_ANNOUNCEMENT' | translate}}</span>
              <input class="default-input"
                     name="maxPlayNameNumber"
                     [(ngModel)]="currentRoom.maxPlayNameNumber"
                     type="text"
                     maxlength="3"
                     autocomplete="off"
                     [required]="currentRoom.maxPlayNameNumber !== ''"
                     only-numbers>
<!--              <div class="default-error" ng-if="errorMaxPlayNameNumber">{{'SETTINGS.ERROR.MAX_PLAY_NUMBER_MORE_THAN' | translate}}</div>-->
<!--              <div class="default-error" ng-if="roomForm.maxPlayNameNumber.$error.required && !errorMaxPlayNameNumber">{{'SETTINGS.ERROR.REQUIRED' | translate}}</div>-->
            </div>

            <!-- Preferred Dial In Location -->
            <div class="settings-item upc-room-preferred-dial-in-location" *ngIf="haveDualInData">
              <span>{{'SETTINGS.ROOM_TAB.PREFERRED_DIAL_IN_LOCATION' | translate}}</span>
<!--              <custom-select options="virtualRoomDialInLocations.options" ng-model="virtualRoomDialInLocations.selected"-->
<!--                             key="id" value="label" ></custom-select>-->
              <app-custom-select (ngModelChange)="virtualRoomDialInLocationsSelected($event)" [options]="virtualRoomDialInLocations.options" [model]="virtualRoomDialInLocations.selected"
                                 key="id" value="label"></app-custom-select>
            </div>

            <!-- Enable sharing -->
            <div class="settings-item upc-room-enable-sharing">
              <span>{{'SETTINGS.ROOM_TAB.ENABLE_SHARING_FOR' | translate}}</span>
              <app-custom-select name="allowPresentPolicy"
                                 (ngModelChange)="allowPresentPolicySelected($event)"
                                 [options]="allowPresentPolicy.options"
                                 [model]="allowPresentPolicy.selected"
                                 key="id"
                                 value="name"></app-custom-select>
            </div>
            <div class="separator"></div>

            <!-- Moderator pin -->
            <div class="settings-item show-pass-wrapper">
              <span>{{'SETTINGS.ROOM_TAB.MODERATOR_PIN' | translate}}</span>
              <div class="password-input">
                <input class="default-input vr-pin"
                       #moderatorPin
                       name="moderatorPin"
                       (change)="moderatorPinChanged($event)"
                       formControlName="moderatorPin"
                       type="password"
                       autocomplete="off"
                       [maxLength]="moderatorPinMaxLength"
                       only-numbers>
                <app-show-password [inputElem]="moderatorPin" [inputValue]="data.moderatorPin"></app-show-password>
                <!--                <show-password input-value="{{data.moderatorPin}}" input-name="moderatorPin"></show-password>-->
              </div>
<!--              <div class="errors">-->
<!--                <div class="default-error" ng-if="isModeratorPinContainsSequentialOrRepeatedSymbols && isModeratorPinPatternCorrect"-->
<!--                     translate-once="GENERAL.ERROR.INCORRECT_PIN"></div>-->
<!--                <div class="default-error" ng-if="!isModeratorPinPatternCorrect"-->
<!--                     translate-once="GENERAL.ERROR.PIN_MIN_LENGTH"-->
<!--                     translate-values="{minLength: moderatorPinMinLength, maxLength: moderatorPinMaxLength}"></div>-->
<!--              </div>-->
            </div>
            <label class="settings-note upc-moderator-pin-note">{{'SETTINGS.ROOM_TAB.MODERATOR_PIN_NOTE' | translate}}</label>

            <div class="separator"></div>

            <!-- Protect meeting with a pin -->
            <label class="default-checkbox upc-room-protect-with-pin">
              <input type="checkbox" name="accessPinEnabled" [(ngModel)]="data.accessPinEnabled" (change)="accessPinCheckboxChanged()" [disabled]="meetingPinMinLength !== 0">
              <span>{{'SETTINGS.ROOM_TAB.ENTRY_PIN' | translate}}</span>
            </label>

            <!-- Permanent pin -->
            <div class="settings-item tier-two tier-two-input show-pass-wrapper upc-room-permanent-pin">
              <span>
                <label class="default-radio">
                  <input type="radio"
                       [(ngModel)]="currentRoom.oneTimePINRequired"
                       [value]="false"
                       (change)="pinRadioStateChanged()"
                       [disabled]="!data.accessPinEnabled"
                       name="pin">
                  <span>{{'SETTINGS.ROOM_TAB.PERMANENT_PIN' | translate}}</span>
                </label>
              </span>
              <div class="password-input">
                <input [disabled]="(!data.accessPinEnabled || currentRoom.oneTimePINRequired)"
                       name="accessPin"
                       formControlName="accessPin"
                       (change)="permanentPinChanged()"
                       class="default-input vr-pin"
                       type="password"
                       maxlength="{{meetingPinMaxLength}}"
                       #accessPin
                       autocomplete="off">
<!--                <show-password input-value="{{data.permanentPin}}" input-name="accessPin"></show-password>-->
                <app-show-password [inputElem]="accessPin" [inputValue]="data.permanentPin"></app-show-password>
              </div>
<!--              <div class="errors">-->
<!--                <div class="default-error" ng-if="isMeetingPinContainsSequentialOrRepeatedSymbols && isMeetingPinPatternCorrect"-->
<!--                     translate-once="GENERAL.ERROR.INCORRECT_PIN"></div>-->
<!--                <div class="default-error" ng-if="!isMeetingPinPatternCorrect && !currentRoom.oneTimePINRequired"-->
<!--                     translate-once="GENERAL.ERROR.PIN_MIN_LENGTH"-->
<!--                     translate-values="{minLength: meetingPinMinLength, maxLength: meetingPinMaxLength}"></div>-->
<!--                <div class="default-error" ng-if="isMeetingPinPatternCorrect && !currentRoom.oneTimePINRequired && data.accessPinEnabled && !data.permanentPin"-->
<!--                     translate-once="SETTINGS.ERROR.REQUIRED"></div>-->
<!--              </div>-->
            </div>

            <!-- One-time pin -->
            <div class="settings-item tier-two upc-room-one-time-pin">
              <span>
                <label class="default-radio">
                  <input type="radio" [(ngModel)]="currentRoom.oneTimePINRequired"
                       [value]="true"
                       (change)="pinRadioStateChanged()"
                       [disabled]="!data.accessPinEnabled"
                       name="pin">
                  <span>{{'SETTINGS.ROOM_TAB.ONETIME_PIN' | translate}}</span>
                </label>
              </span>
            </div>

            <div class="separator"></div>

            <div class="upc-room-protect-participant-id" *ngIf="!isMultiTenant">
              <!-- Protected Participant ID -->
              <label class="default-checkbox">
                <input name="protectMeetingWithParticipantId" type="checkbox" [(ngModel)]="currentRoom.protectMeetingWithParticipantId">
                <span>{{'SETTINGS.ROOM_TAB.PROTECTED_PARTICIPANT_ID' | translate}}</span>
              </label>

              <span *ngIf="currentRoom.protectMeetingWithParticipantId" class="settings-note">{{'SETTINGS.ROOM_TAB.PROTECTED_PARTICIPANT_ID_INFO' | translate}}</span>

            </div>

            <!-- Default room -->
            <label class="default-checkbox upc-room-default-room">
              <input disabled="disabled" name="defaultRoom" type="checkbox" [(ngModel)]="currentRoom.defaultRoom">
              <span>{{'SETTINGS.ROOM_TAB.DEFAULT' | translate}}</span>
            </label>

            <div class="separator"></div>

            <!-- Allow requests to join locked meetings -->
            <label class="default-checkbox upc-room-allow-requests">
              <input name="allowKnocking" type="checkbox" [(ngModel)]="currentRoom.allowKnocking">
              <span>{{'SETTINGS.ROOM_TAB.ALLOW_REQUESTS' | translate}}</span>
            </label>

            <!-- Turn on recording automatically at the start of meetings -->
            <label class="default-checkbox tooltiped upc-room-enable-recording" [attr.title]="isAllowRecordingDisabled() ? recordingNotSupportedTitle : ''">
              <input type="checkbox"
                     name="allowRecording"
                     [(ngModel)]="currentRoom.allowRecording"
                     ng-true-value="'ON'"
                     ng-false-value="'OFF'"
                     [disabled]="isAllowRecordingDisabled()">
              <span>{{'SETTINGS.ROOM_TAB.ALWAYS_RECORD_MEETING' | translate}}</span>
            </label>

            <!-- Place participants in a 'waiting room' until the moderator joins -->
            <label class="default-checkbox upc-room-place-participant-waiting-room" (click)="changeWaitingRoom()">
              <input type="checkbox"
                     name="waitingRoom"
                     [(ngModel)]="currentRoom.waitingRoom"
                     [disabled]="isEmpty(currentRoom.moderatorPIN)">
              <span>{{'SETTINGS.ROOM_TAB.WAITING_ROOM' | translate}}</span>
            </label>

            <!-- Terminate meeting after the last moderator leaves -->
            <label class="default-checkbox">
              <input type="checkbox"
                     name="terminateMeetingWhenModeratorLeft"
                     [(ngModel)]="currentRoom.terminateMeetingWhenModeratorLeft"
              >
              <span>{{'SETTINGS.ROOM_TAB.TERMINATE_MEETING' | translate}}</span>
            </label>

            <div class="separator"></div>

            <!-- Advanced -->
            <div class="settings-item upc-room-advanced">
              <span>{{'SETTINGS.ROOM_TAB.ADVANCED' | translate}}</span>
            </div>

            <!-- Max Participants -->
            <div class="settings-item upc-room-max-participants">
              <span>{{'SETTINGS.ROOM_TAB.MAX_PARTICIPANTS' | translate}}</span>
              <input class="default-input"
                     type="text"
                     disabled
                     *ngIf="currentRoom.maxParticipants <= 1"
                     placeholder="{{'SETTINGS.ROOM_TAB.NO_LIMIT' | translate}}">
              <input class="default-input"
                     type="text"
                     disabled
                     *ngIf="currentRoom.maxParticipants > 1"
                     placeholder="{{currentRoom.maxParticipants}}">
            </div>

            <!-- Max Room Endpoints -->
            <div class="settings-item upc-room-max-room-endpoints">
              <span>{{'SETTINGS.ROOM_TAB.MAX_ROOM_ENDPOINTS' | translate}}</span>
              <input class="default-input"
                     type="text"
                     disabled
                     *ngIf="currentRoom.maxRoomParticipants < 0"
                     placeholder="{{'SETTINGS.ROOM_TAB.NO_LIMIT' | translate}}">
              <input class="default-input"
                     type="text"
                     disabled
                     *ngIf="currentRoom.maxRoomParticipants >= 0"
                     placeholder="{{currentRoom.maxRoomParticipants}}">
            </div>

            <div *ngIf="userSettings.conferencing.schedulable" class="separator"></div>

            <!-- selector for add endpoints -->
            <app-tag-selector *ngIf="userSettings.conferencing.schedulable"
                              [selected]="currentRoom.attendees"
                              [options]="filteredEndpoints"
                              [placeholder]="'SETTINGS.ROOM_TAB.SEARCH_ENDPOINTS'"
                              primary="terminalName"
                              secondary=""
                              tertiary=""
                              uniqueProperty="terminalId"
                              [callback]="searchEndpointInputChanged.bind(this)"
                              [searching]="searching"></app-tag-selector>
            <div class="endpoints-wrapper">
              <app-endpoints (endpointsRemoved)="endpointsRemoved($event)" [endpoints]="currentRoom.attendees"></app-endpoints>
<!--              <endpoints endpoints="currentRoom.attendees"></endpoints>-->
            </div>
          </form>
        </div>
<!---->
        <div class="tab-content {{currentTab === TAB.GENERAL ? '' : 'hidden'}}">
<!--          -->
          <div class="settings-item upc-display-name">
            <span>{{'SETTINGS.GENERAL_TAB.USER_NAME' | translate}}</span>
            <label class="static">{{userSettings.displayName}}</label>
          </div>

          <div class="settings-item upc-email">
            <span>{{'SETTINGS.GENERAL_TAB.EMAIL' | translate}}</span>
            <label class="static">{{userSettingsService.portalResources.self.email}}</label>
          </div>

          <div class="settings-item upc-first-name">
            <span>{{'SETTINGS.GENERAL_TAB.FIRST_NAME' | translate}}</span>
            <label class="static">{{userSettings.givenName}}</label>
          </div>

          <div class="settings-item  upc-last-name">
            <span>{{'SETTINGS.GENERAL_TAB.LAST_NAME' | translate}}</span>
            <label class="static">{{userSettings.surname}}</label>
          </div>

          <div class="settings-item upc-phone-office">
            <span>{{'SETTINGS.GENERAL_TAB.PHONE_OFFICE' | translate}}</span>
            <label class="static">{{userSettings.officePhoneNumber}}</label>
          </div>

          <div *ngFor="let mobilePhoneNumber of userSettings.mobilePhoneNumbers" class="settings-item  upc-phone-mobile">
            <span>{{'SETTINGS.GENERAL_TAB.PHONE_MOBILE' | translate}}</span>
            <label class="static">{{mobilePhoneNumber}}</label>
          </div>

          <div class="separator"></div>

          <div class="settings-item upc-max-bandwidth">
            <span>{{'SETTINGS.GENERAL_TAB.MAX_BANDWIDTH' | translate}}</span>
            <label class="static">{{userSettings.conferencing.maxBandWidth}}
              <span>{{'SETTINGS.GENERAL_TAB.KBPS' | translate}}</span>
            </label>
          </div>

          <div class="settings-item upc-personal-endpoint">
            <span>{{'SETTINGS.GENERAL_TAB.PERSONAL_ENDPOINT' | translate}}</span>
            <label class="static">{{userSettings.conferencing.defaultTerminalId}}</label>
          </div>

          <div class="settings-item upc-allow-streaming">
            <span>{{'SETTINGS.GENERAL_TAB.ALLOW_STREAMING' | translate}}</span>
            <label class="static">{{userSettings.conferencing.allowStreaming | translate}}</label>
          </div>

          <div class="settings-item upc-allow-recording">
            <span>{{'SETTINGS.GENERAL_TAB.ALLOW_RECORDING' | translate}}</span>
            <label class="static">{{userSettings.conferencing.allowRecording | translate}}</label>
          </div>

          <div class="settings-item upc-my-groups">
            <span>{{'SETTINGS.GENERAL_TAB.GROUPS' | translate}}</span>
            <label class="static">
              <span class="user-groups" *ngFor="let group of userSettings.conferencing.userGroups">{{group.name}}</span>
            </label>
          </div>

          <div class="settings-item upc-schedulable">
            <span>{{'SETTINGS.GENERAL_TAB.SCHEDULABLE' | translate}}</span>
            <label class="static default-checkbox">
              <input type="checkbox" disabled [ngModel]="userSettings.conferencing.schedulable">
              <span></span>
            </label>
          </div>

          <div class="settings-item upc-reservable">
            <span>{{'SETTINGS.GENERAL_TAB.RESERVABLE' | translate}}</span>
            <label class="static default-checkbox">
              <input type="checkbox" disabled [ngModel]="userSettings.conferencing.reservable">
              <span></span>
            </label>
          </div>
        </div>

<!---->
        <div class="tab-content {{currentTab === TAB.PREFERENCES ? '' : 'hidden'}}">
<!--          -->
          <label class="default-checkbox use-browser-audio-video browser-checkbox preferences">
            <input type="checkbox"
                   [ngModel]="videoCalling"
                   (change)="changePreferences()">
            <span>{{'SETTINGS.PREFERENCES_TAB.VIDEO_CALLING' | translate}}</span>
          </label>
          <span class="explanation preferences">{{'SETTINGS.PREFERENCES_TAB.VIDEO_CALLING_EXPLANATION' | translate}}</span>


          <div class="separator"></div>


          <label class="default-checkbox use-browser-audio-video browser-checkbox preferences">
            <input type="checkbox"
                   [ngModel]="useDefaultTimeFormat"
                   (change)="changeTimeFormat()">
            <span>{{'SETTINGS.PREFERENCES_TAB.DEFAULT_FORMAT' | translate}}</span>
          </label>
          <div class="advanced-settings" *ngIf="!useDefaultTimeFormat">
            <div class="settings-item upc-date-time-format">
              <span>{{'SETTINGS.PREFERENCES_TAB.DATE_FORMAT_TITLE' | translate}}</span>
              <app-custom-select (ngModelChange)="setDateFormat($event)" [model]="dateFormatSettings.selected" [options]="dateFormatSettings.options" key="format" value="format"></app-custom-select>
            </div>
            <label class="default-checkbox use-browser-audio-video browser-checkbox preferences upc-date-time-format">
              <input type="checkbox"
                     [ngModel]="use24HourFormat"
                     (change)="changeHourFormat()">
              <span>{{'SETTINGS.PREFERENCES_TAB.TIME_FORMAT' | translate}}</span>
            </label>
          </div>
<!--          -->
        </div>

        <div class="tab-content client-settings-mobile {{currentTab === TAB.CLIENT ? '' : 'hidden'}}">
<!--          -->
          <div *ngIf="!ACData.isInstalled" class="no-client-info">
            <span>{{'SETTINGS.CLIENT_TAB.NO_CLIENT' | translate}}</span>
          </div>

          <div *ngIf="ACData.isInstalled" class="client-title">{{'SETTINGS.CLIENT_TAB.CLIENT_INFO' | translate:ACData}}</div>

          <div *ngIf="ACData.isInstalled" class="remove-client-info" (click)="removeClientInfo()">
            {{'SETTINGS.CLIENT_TAB.REMOTE_INFO' | translate}}
          </div>

          <div class="default-button client-download-button"
               *ngIf="(!ACData.isInstalled || needOptionalUpgrade()) && globalService.isThereClientToDownload()"
               (click)="downloadAC()"
          >
            <span>{{'SETTINGS.CLIENT_TAB.DOWNLOAD_AC' | translate:ACData.latestVersion}}</span>
          </div>

          <div *ngIf="!globalService.isThereClientToDownload()" class="client-title">{{'GENERAL.DOWNLOAD.NO_CLIENT' | translate}}</div>

          <div *ngIf="isChrome && showSharingPlaginLink"
               class="download-plugin"
               (click)="downloadChromePlugin()">{{'SETTINGS.CLIENT_TAB.DOWNLOAD_CHROME_PLUGIN' | translate}}
          </div>
<!--          -->
        </div>

        <div class="tab-content {{currentTab === TAB.SUPPORT ? '' : 'hidden'}}">
<!--          -->
          <label class="default-checkbox use-browser-audio-video browser-checkbox preferences" (click)="changeSaveLogs()">
            <input type="checkbox"
                   [ngModel]="saveLogsCheckbox"
                   [disabled]="saveLogsCheckbox"
                   [class.reset-disable]="saveLogsCheckbox"
            >
            <span>{{'SETTINGS.PREFERENCES_TAB.ENABLE_LOGGING' | translate}}</span>
          </label>

          <div class="advanced-settings advanced-settings-logs" *ngIf="saveLogsCheckbox">
            <div class="send-logs"
                 (click)="sendLogsEml()"
                 *ngIf="supportEmail">
              {{'SETTINGS.PREFERENCES_TAB.REPORT_A_PROBLEM_EML' | translate}}

            </div>
            <div class="save-logs"
                 (click)="sendLogsEmail()"
                 *ngIf="supportEmail">
              {{'SETTINGS.PREFERENCES_TAB.REPORT_A_PROBLEM_EMAIL' | translate}}
            </div>
            <div class="save-logs"
                 (click)="downloadLogs()"
            >
              {{'SETTINGS.PREFERENCES_TAB.DOWNLOAD_LOGS' | translate}}
            </div>
          </div>
<!--          -->
        </div>

        <div class="tab-content {{currentTab === TAB.PASSWORD ? '' : 'hidden'}}" *ngIf="currentTab === TAB.PASSWORD"
             ng-include=":: 'app/components/settings/templates/SettingsPassword.html'"
             ng-controller="ChangePasswordController">
          <form name="loginForm" [formGroup]="changePasswordReactiveForm">


            <div class="settings-item">
              <span>{{'SETTINGS.PASSWORD_TAB.CURRENT' | translate}}</span>
              <input class="default-input"
                     type="password"
                     autocomplete="off"
                     name="currentPassword"
                     formControlName="currentPassword"
                     ng-change="onChangeCurrentPassword(changePasswordForm)">
<!--              <div ng-messages="changePasswordForm.currentPassword.$error" ng-if="changePasswordForm.currentPassword.$dirty">-->
<!--                <div ng-message="required" class="default-error" translate-once="SETTINGS.PASSWORD_TAB.ERROR.REQUIRED"></div>-->
<!--                <div ng-message="bad" class="default-error" translate-once="SETTINGS.PASSWORD_TAB.ERROR.INVALID"></div>-->
<!--              </div>-->
            </div>

            <div class="settings-item">
              <span>{{'SETTINGS.PASSWORD_TAB.NEW' | translate}}</span>
              <input class="default-input"
                     type="password"
                     autocomplete="off"
                     formControlName="newPassword"
                     ng-change="onChangeNewPassword(password.newPassword, changePasswordForm)">
<!--              <div ng-messages="changePasswordForm.newPassword.$error" ng-if="changePasswordForm.newPassword.$dirty">-->
<!--                <div ng-message="required" class="default-error" translate-once="SETTINGS.PASSWORD_TAB.ERROR.REQUIRED"></div>-->
<!--                <div ng-message="matchError" class="default-error" translate-once="SETTINGS.PASSWORD_TAB.ERROR.DO_NOT_MATCH"></div>-->
<!--              </div>-->
            </div>

            <div class="settings-item">
              <span>{{'SETTINGS.PASSWORD_TAB.CONFIRM' | translate}}</span>
              <input class="default-input"
                     type="password"
                     autocomplete="off"
                     formControlName="confirmPassword"
                     ng-change="onChangeNewPassword2(password.newPassword2, changePasswordForm)">
<!--              <div ng-messages="changePasswordForm.newPassword2.$error" ng-if="changePasswordForm.newPassword2.$dirty">-->
<!--                <div ng-message="required" class="default-error" translate-once="SETTINGS.PASSWORD_TAB.ERROR.REQUIRED"></div>-->
<!--                <div ng-message="matchError" class="default-error" translate-once="SETTINGS.PASSWORD_TAB.ERROR.DO_NOT_MATCH"></div>-->
<!--              </div>-->
            </div>
<!--            <div class="settings-item" *ngIf="changePasswordReactiveForm.errors.errorFromServer">-->
<!--              <span>pass do not match</span>-->
<!--            </div>-->

          </form>

          <button (click)="changePassword()">change pass</button>
        </div>
      </div>
    </div>

    <div class="accordeon-name settings">{{'SETTINGS.SETTINGS' | translate}}</div>
  </div>

  <div class="settings-buttons {{currentTab ? '' : 'active'}}">
    <button type="button"
            class="white-button"
            (click)="saveSettingsAndClose()"
            [disabled]="isOKDisabled()">
      {{'SETTINGS.OK' | translate}}
    </button>

    <button type="button"
            class="white-button"
            (click)="cancelSettings()"
    >{{'SETTINGS.CANCEL' | translate}}
    </button>

    <button type="button"
            class="white-button"
            (click)="applySettings()"
            [disabled]="isApplyDisabled()"
    >{{'SETTINGS.APPLY' | translate}}
    </button>
  </div>
</div>
<div *ngIf="isMobileView">
  <div class="settings-title">{{'SETTINGS.TITLE' | translate}}</div>

  <div class="mobile-accordeon settings">
    <div class="accordeon-name settings"
    >{{'SETTINGS.SETTINGS' | translate}}
    </div>

    <!-- User settings tab -->
    <div class="tab user-settings-mobile settings-navigation-item {{currentTab === TAB.USER ? 'current' : ''}}"
         (click)="setCurrentTab(TAB.USER)"
    > {{'SETTINGS.USER' | translate}}
    </div>
    <div class="tab-content {{currentTab === TAB.USER ? '' : 'hidden'}}"
         ng-include="'app/components/settings/templates/SettingsUser.html'"
    >
    </div>

    <!-- Virtual Room tab -->
    <div class="{{!areAllPinsCorrect() ? 'incorrect-pin' : ''}} tab virtual-room-settings-mobile settings-navigation-item {{currentTab === TAB.ROOM ? 'current' : ''}} {{userSettings.conferencing.virtualRoomSettings.length ? '' : 'hidden'}}"
         (click)="setCurrentTab(TAB.ROOM)">{{'SETTINGS.ROOM' | translate}}
    </div>
    <div class="tab-content {{currentTab === TAB.ROOM ? '' : 'hidden'}}"
         ng-include=":: 'app/components/settings/templates/SettingsRoom.html'"
    >
    </div>

    <!-- General Settings tab -->
    <div class="tab general-settings-mobile settings-navigation-item {{currentTab === TAB.GENERAL ? 'current' : ''}}"
         (click)="setCurrentTab(TAB.GENERAL)"
    >{{'SETTINGS.GENERAL' | translate}}
    </div>
    <div class="tab-content {{currentTab === TAB.GENERAL ? '' : 'hidden'}}"
         ng-include=":: 'app/components/settings/templates/SettingsGeneral.html'"
    >
    </div>

    <!-- User Preferences tab -->
    <div class="tab preferences-settings-mobile settings-navigation-item {{currentTab === TAB.PREFERENCES ? 'current' : ''}} {{isShowClientTab() ? '' : 'hidden'}}"
         (click)="setCurrentTab(TAB.PREFERENCES)"
    >{{'SETTINGS.PREFERENCES' | translate}}
    </div>
    <div class="tab-content {{currentTab === TAB.PREFERENCES ? '' : 'hidden'}}"
         ng-include=":: 'app/components/settings/templates/SettingsPreferences.html'"
    >
    </div>

    <!-- Client tab -->
    <div class="tab client-settings-mobile settings-navigation-item {{currentTab === TAB.CLIENT ? 'current' : ''}} {{isShowClientTab() ? '' : 'hidden'}}"
         (click)="setCurrentTab(TAB.CLIENT)"
    >{{'SETTINGS.CLIENT' | translate}}
    </div>
    <div class="tab-content client-settings-mobile {{currentTab === TAB.CLIENT ? '' : 'hidden'}}"
         ng-include=":: 'app/components/settings/templates/SettingsClient.html'"
    >
    </div>

    <!-- Support tab -->
    <div class="tab support-settings-mobile settings-navigation-item {{currentTab === TAB.SUPPORT ? 'current' : ''}} {{isShowClientTab() ? '' : 'hidden'}}"
         (click)="setCurrentTab(TAB.SUPPORT)"
         *ngIf="indexedDbIsCompatibility"
    >{{'SETTINGS.SUPPORT' | translate}}
    </div>
    <div class="tab-content {{currentTab === TAB.SUPPORT ? '' : 'hidden'}}"
         ng-include=":: 'app/components/settings/templates/SettingsSupport.html'"
    >
    </div>

    <!-- Password tab -->
    <div *ngIf="userSettings.conferencing.localUser && !isOAuthUser">
      <div class="tab password-settings-mobile settings-navigation-item {{currentTab === TAB.PASSWORD ? 'current' : ''}} {{userSettings.conferencing.localUser ? '' : 'hidden'}}"
           (click)="setCurrentTab(TAB.PASSWORD)"
      >{{'SETTINGS.PASSWORD' | translate}}
      </div>
      <div class="tab-content {{currentTab === TAB.PASSWORD ? '' : 'hidden'}}"
           ng-include=":: 'app/components/settings/templates/SettingsPassword.html'"
           ng-controller="ChangePasswordController"
      >
      </div>
    </div>
  </div>

  <div class="settings-buttons {{currentTab ? '' : 'active'}}">
    <button type="button"
            class="white-button"
            (click)="saveSettingsAndClose()"
            [disabled]="isOKDisabled()"
    >{{'SETTINGS.OK' | translate}}
    </button>

    <button type="button"
            class="white-button"
            (click)="cancelSettings()"
    >{{'SETTINGS.CANCEL' | translate}}
    </button>

    <button type="button"
            class="white-button"
            (click)="applySettings()"
            [disabled]="isApplyDisabled()"
    >{{'SETTINGS.APPLY' | translate}}
    </button>
  </div>
</div>
