<!--
Avaya Inc. Proprietary (Restricted)
Solely for authorized persons having a need to know
pursuant to company instructions.
Copyright 2016 Avaya Inc. All Rights Reserved.
THIS IS UNPUBLISHED PROPRIETARY SOURCE CODE OF Avaya Inc.
The copyright notice above does not evidence any actual or
intended publication of such source code.
-->

<div class="header-wrapper">

  <div class="action-blocks">
    <div class="settings-block">
      <div class="settings-icon"></div>
      <span>{{'HEADER.SETTINGS' | translate}}</span>
    </div>
    <div class="about" (click)="showAbout()">
      <span>{{'HEADER.ABOUT' | translate}}</span>
    </div>
    <div (click)="onSignIn()" class="sign-in-block" *ngIf="isLoginAvailable && authorizationService.userType !== 'SIGN_IN'">
      <span>{{"HEADER.SIGN_IN" | translate}}</span>
      <div class="sign-in-avatar"></div>
    </div>
    <div class="user-block"
         *ngIf="authorizationService.userType==='SIGN_IN'"
         (click)="showLogout($event)">
      <span class="user-name">{{ authorizationService.user.name + ' ' +  authorizationService.user.lastName}}</span>
      <div class="avatar">
        <img alt="" *ngIf="authorizationService.user.pictureData" [src]="authorizationService.user.pictureData">
      </div>
      <div class="sign-out {{logoutVisible ? 'toggled' : 'hidden'}}">
        <button type="button"
                class="default-button"
                (click)="logout()"
                autofocus>{{'HEADER.SIGN_OUT' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
