<form [formGroup]="joinForm" class="join-input-signin {{class}}">

  <!-- Form's title -->
  <div class="join-small-caption">{{'JOIN.JOIN_A_MEETING' | translate}}</div>

  <!-- Input for enter name for guest -->
  <div *ngIf="authorizationService.userType==='GUEST'" class="input-wrapper">
    <input autofill
           appResetField
           reset-field
           type="text"
           class="default-input guest-name-input"
           [class.guest-name]="authorizationService.userType==='GUEST'"
           formControlName="name"
           [attr.title]="globalService.user?.userName"
           [placeholder]="'JOIN.USER_NAME' | translate"
           required
           >
    <div class="reset" (click)="resetField('name')" *ngIf="joinForm.value.name"></div>
  </div>

  <!-- text error if name is too long -->
  <div class="default-warning max-length-name"
       *ngIf="joinForm.get('name').errors?.maxlength">
    {{'JOIN.ERROR.NOT_VALID_USER_NAME' | translate}}
  </div>

  <div class="input-wrapper {{myMeetings?.virtualRooms.length > 1 ? 'multiple-rooms' : ''}} {{authorizationService.userType==='GUEST' ? 'guest-input-size' : 'sign-in-input-size'}}">

    <!-- Input for enter id meeting -->
    <input autofill reset-field
           type="text"
           (ngModelChange)="meetingIdChanged()"
           class="default-input"
           [ngClass]="{'without-dropdown': options.length < 2, 'not-valid-is-confirence-exists': !isConferenceExists}"
           [attr.title]="meetingId"
           [placeholder]="'JOIN.MEETING_ID' | translate"
           only-numbers
           formControlName="meetingId"
           required>
    <div class="reset" (click)="resetField('meetingId')" *ngIf="joinForm.value.meetingId"></div>
<!--     Select for select meeting id from history or VR -->
    <div class="default-select join-input-selected"
         (click)="showDropdown()"
         [ngClass]="{'guest-dropdown': authorizationService.userType==='GUEST'}"
         *ngIf="options.length > 1">
      <ul *ngIf="toggled" class="dropdown-block">
        <li *ngFor="let option of options"
            class="{{option[key] === virtualRoom[key] && option[value] === virtualRoom[value] ? 'selected' : ''}}
                    {{option.className ? 'recent' : ''}}"
            (click)="selectOption(option)"
            [attr.title]="option.tooltip">
          <span class="name-in-history" [ngClass]="{'no-meeting-name': option.fullName == ''}">{{option[value]}}</span>
          <span *ngIf="option.fullName" class="id-in-history">{{option.numberForDisplay}}</span>
        </li>
      </ul>

<!--      TODO do this select-->
<!--      <select ng-options="option[value] for option in options track by (option[key] || '__empty_option_key__')"-->
<!--              ng-model="ngModel"-->
<!--              ng-change="selectOption(ngModel)">-->
<!--        <option *ngFor="let option[value] of options"></option>-->
<!--      </select>-->
    </div>

    <app-copy-or-email-link-join *ngIf="authorizationService.userType!=='GUEST'"
                                 [url]="url" [externalClass]="!meetingId ? 'inactive' : ''"></app-copy-or-email-link-join>
  </div>

  <!-- Error not valid meeting id -->
  <div class="default-warning max-length-name"
       *ngIf="joinForm.get('meetingId').errors?.pattern">
    {{'JOIN.ERROR.NOT_VALID_MEETING_ID' | translate}}
  </div>

  <!-- Error conference is not exist -->
  <div class="default-warning max-length-name wrong-current-meeting-id"
       *ngIf="!isConferenceExists">
    {{'JOIN.ERROR.CONFERENCE_DOES_NOT_EXIST' | translate}}
  </div>

  <!-- Error no name or id for guest -->
  <div class="default-warning"
       *ngIf="!joinForm.get('meetingId').errors?.pattern && (joinForm.get('name').errors?.required || joinForm.get('meetingId').errors?.required) && authorizationService.userType === 'GUEST'">
    <span>{{'JOIN.WARNING.PLEASE_ENTER' | translate}} </span>
    <span *ngIf="!joinForm.value.name">{{'JOIN.WARNING.YOUR_NAME' | translate}} </span>
    <span *ngIf="!joinForm.value.name && !joinForm.value.meetingId">{{'JOIN.WARNING.AND' | translate}} </span>
    <span *ngIf="!joinForm.value.meetingId">{{'JOIN.WARNING.MEETING_ID' | translate}}</span>
  </div>

  <!-- Error no name or id for user -->
  <div class="default-warning"
       *ngIf="!joinForm.get('meetingId').errors?.pattern && joinForm.get('meetingId').errors?.required  && authorizationService.userType !== 'GUEST'">
    <span>{{'JOIN.WARNING.PLEASE_ENTER' | translate}} {{'JOIN.WARNING.MEETING_ID' | translate}}</span>
  </div>

  <app-join-guest-button
    [externalClass]="!isConferenceExists ? 'for-wrong-meeting-id' : ''"
    [isConferenceExists]="isConferenceExists"
    [meetingId]="joinForm.value.meetingId"
    [name]="joinForm.value.name"
    [isDisabled]="joinForm.status === 'INVALID'"></app-join-guest-button>

<!--  &lt;!&ndash; Desktop buttons &ndash;&gt;-->
<!--  <join-guest-button ng-class="{'for-wrong-meeting-id' : !isConferenceExists}"-->
<!--                     is-conference-exists="isConferenceExists"-->
<!--                     meeting-id="meetingId"-->
<!--                     name="{{userName}}"-->
<!--                     is-disabled="guestJoinForm.$invalid">-->
<!--  </join-guest-button>-->
</form>
