<!--
Avaya Inc. Proprietary (Restricted)
Solely for authorized persons having a need to know
pursuant to company instructions.
Copyright 2016 Avaya Inc. All Rights Reserved.
THIS IS UNPUBLISHED PROPRIETARY SOURCE CODE OF Avaya Inc.
The copyright notice above does not evidence any actual or
intended publication of such source code.
-->
<div class="ngdialog-content">
  <form>
    <label>{{'JOIN.OPEN_MC' | translate}}</label>
    <p></p>
    <button type="submit" class="default-button" (click)="join()">{{'JOIN.OK' | translate}}</button>
    <button type="button" class="default-button secondary-button" (click)="cancel()">{{'JOIN.CANCEL' | translate}}</button>
  </form>

</div>
